:root {
  --rtc-primary-font: "Roboto", sans-serif;
  --rtc-dark-grey: #2C2C2C;
  --rtc-grey: #F1F1F1;
  --rtc-white: white;
  --rtc-black: black;
}

body {
  box-sizing: border-box;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0 0 0 0;
  box-sizing: border-box;
}

header {
  height: 73px;
  background-color: var(--rtc-dark-grey);
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

@media (min-width: 644px) {

  #header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    max-width: 100vw;
  }

  .icon {
    width: 53px;
    height: 53px;
  }

  nav {
    display: flex;
    height: 100%;
  }

  .menu1 {
    width: 360px;
  }

  .menu1-1 {
    display: none;
  }

  .menu2 {
    width: 160px;
  }

  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--rtc-white);
  }

  header ul li {
    float: none;
    font-size: 20px;
  }

  .nav-icons {
    width: 35px;
    height: 35px;
  }

  .banner {
    width: 100%;
    height: 300px;
  }

  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px 0 25px 0;
    background-color: var(--rtc-grey);
  }

  select {
    width: 120px;
    height: 25px;
  }

  #filter-reset {
    width: 140px;
    height: 25px;
    background-color: var(--rtc-white);
  }

  #no-results {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .products-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 80px 40px 80px;
    gap: 40px;
    background-color: var(--rtc-white);
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--rtc-grey);
    width: 370px;
    height: 440px;
    padding: 30px 15px 30px 15px;
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 226px;
    background-color: var(--rtc-grey);
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-info {
    margin: 20px 0 20px 0;
    width: 70%;
    height: 25%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 2, 1fr;
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 0 0 10px 0;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .model {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .buy-button {
    width: 70%;
    height: 9%;
  }

  footer { 
    background-color: var(--rtc-black);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    padding: 30px 0 30px 0;
  }

  .footer-container ul li:first-child {
    font-weight: 700;
  }

  .footer-container ul li {
    margin-bottom: 10px;
  }

  .footer-container ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .footer-container a {
    text-decoration: none;
    color: var(--rtc-white);
  }
}


@media (max-width: 643px) {

  #header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    max-width: 100vw;
  }

  .icon {
    width: 53px;
    height: 53px;
  }

  nav {
    display: flex;
    height: 100%;
  }

  .menu1 {
    display: none;
  }

  .menu1-1 {
    width: 45px;
    height: 45px;
  }

  .menu1-1 {
    display: flex;
    justify-content: center;
  }

  .menu2 {
    width: 160px;
  }

  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--rtc-white);
  }

  header ul li {
    float: none;
    font-size: 20px;
  }

  .nav-icons {
    width: 35px;
    height: 35px;
  }

  .banner {
    width: 100%;
    height: 300px;
  }

  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px 0 25px 0;
    background-color: var(--rtc-grey);
  }

  select {
    width: 120px;
    height: 25px;
  }

  #filter-reset {
    width: 140px;
    height: 25px;
    background-color: var(--rtc-white);
  }

  #no-results {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .products-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 30px 40px 30px;
    gap: 40px;
    background-color: var(--rtc-white);
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--rtc-grey);
    width: 370px;
    height: 580px;
    padding: 30px 15px 30px 15px;
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 226px;
    background-color: var(--rtc-grey);
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  .product-info {
    margin: 20px 0 20px 0;
    width: 70%;
    height: 25%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 2, 1fr;
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 0 0 10px 0;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .model {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .buy-button {
    width: 70%;
    height: 9%;
  }

  footer { 
    background-color: var(--rtc-black);
    box-sizing: border-box;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    padding: 40px 0 40px 0;
    flex-wrap: wrap;
    width: auto;
  }

  .footer-container ul li:first-child {
    font-weight: 700;
  }

  .footer-container ul li {
    margin-bottom: 10px;
  }

  .footer-container ul {
    display: flex;
    flex-direction: column;
    margin: 0 30px 10px 30px;
    padding: 0;
  }

  .footer-container a {
    text-decoration: none;
    color: var(--rtc-white);
  }
}